force-app/main/default/flows/Total_food_Cost_to_Pay.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Item_And_Sum</name>
        <label>Add_Item_And_Sum</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colFoodItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Items_For_Bill</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Items_For_Bill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_2</name>
        <label>Update Total Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Food_Bills.Total_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Items_For_Bill</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Not_Valid_Customer_ID</name>
        <label>Check Valid Customer ID</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Getting_Customer_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Getting_Food_Biils</targetReference>
            </connector>
            <label>Valid Customer</label>
        </rules>
    </decisions>
    <description>To settel Bill</description>
    <environments>Default</environments>
    <interviewLabel>Total food Cost to Pay {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Total food Cost to Pay</label>
    <loops>
        <name>Loop_Food_Bills</name>
        <label>Loop_Food_Bills</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Getting_Food_Biils</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Items_For_Bill</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Items_For_Bill</name>
        <label>Loop_Items_For_Bill</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Items_For_Bill</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Item_And_Sum</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Food_Bills</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Items_For_Bill</name>
        <label>Get_Items_For_Bill</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assignment_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Food_Bill__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Food_Bills.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Food_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting Customer Record</description>
        <name>Getting_Customer_Record</name>
        <label>Getting Customer Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Not_Valid_Customer_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Getting all Food bills</description>
        <name>Getting_Food_Biils</name>
        <label>Getting Food Bills</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_over_Food_Bills</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Getting_Customer_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Food_Bill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Loop_over_Food_Bills</name>
        <label>Loop over Food Bills</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Food_Bills</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Food_Bill__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Getting_Customer_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>records of food items</description>
        <name>colFoodItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Food_Item__c</objectType>
    </variables>
    <variables>
        <description>Customer ID from Agent</description>
        <name>CustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Total amount</description>
        <name>TotalAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
