force-app/main/default/flows/Update_Customer_Details_Check_In.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assigning_response_value</name>
        <label>Assigning response value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Response</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The customer ID is not valid or the customer has already checked-In</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Response_Assignment</name>
        <label>Response Assignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Response</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Customer has successfully checked-In </stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_a_Valid_Customer</name>
        <label>Check a Valid Customer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assigning_response_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Customer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updating_valid_customer</targetReference>
            </connector>
            <label>Valid Customer</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Customer Details (Check-In) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Customer Details (Check-In)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Customer</name>
        <label>Get Customer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_a_Valid_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Customer_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ready to Check In</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Customer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updating_valid_customer</name>
        <label>Updating valid customer</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Response_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Customer.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Checked In</stringValue>
            </value>
        </inputAssignments>
        <object>Customer__c</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Customer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>CustomerID getting form Agent to retived Record</description>
        <name>CustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Response</description>
        <name>Response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
